<section class="container">
		<h2 class="page-title">Trabalhos</h2>
			<section class="cards-container">
				<div class="work"><a href="http://www.alura.com.br"><img src="/images/jobs-1.jpg" alt="Home do Alura" /><p>Alura</p></a></div>
				<div class="work"><a href="http://www.casadocodigo.com.br"><img src="/images/jobs-2.jpg" alt="Home da Casa do Código" /><p>Casa do Código</p></a></div>
				<div class="work"><a href="https://chrome.google.com/webstore/detail/otomegatari/fhjblpnmnalnopijjnpdcjdheoibieji"><img src="/images/jobs-3.jpg" alt="Plugin de Feed Wordpress" /><p>Plugin de Feed WP</p></a></div>
			</section>

			
		</section>