	<html ng-app="myblog">
	<head >
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Site pessoal do Caio Incau, usado para contatos profissionais ou casuais.">
		<title>Caio Incau</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/index.css" />
		 <link href='css/bodoini.css' rel='stylesheet' type='text/css'>
		 <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	</head>
	<body ng-controller="HomeController">
		<nav class="main-menu">
			<button  class="fa-lg fa fa-bars"></button>
			<a href="/#about">SOBRE MIM</a>
			<a href="/#work">TRABALHOS</a>
			<h1 class="main-title"><img src="/images/logo-rect.png" alt="CAIO INCAU" /></h1>
			<a href="/#skills">CONHECIMENTOS</a>
			<a href="/#contato">SOCIAL</a>
		</nav>

		<section class="container">
				<div ng-view></div>

		</section>
	<script src="/vendor/jquery/dist/jquery.js"></script>
	<script src="/js/toggle.js"></script>
	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>

		      <script src="js/main.js"></script>

         <script src="js/controllers/HomeController.js"></script>

	</body>
</html>